<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 margin-t-20">
              <h4>Code Central</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Contact us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Information</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="#">About us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Support</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="">FAQ</a></li>
                      <li><a href="">Contact</a></li>
                      <li><a href="">Disscusion</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Subscribe</h4>
         
              <form class="form subscribe">
                  <input placeholder="Email" class="form-control" required>
                  <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
              </form>
          </div>
      </div>
  </div>
</footer>

<div class="footer-alt">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="float-left pull-none ">
              </div>
              <div class="float-right pull-none ">
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
</div>

<div id="style-switcher"  [style.left] = "switch == 0 ? '0px' : '-189px'">
  <div>
      <h3>Select your color </h3>
      <ul class="pattern">
          <li>
              <a (click)="onChangeColor('red')" class="color1" routerLink="#"></a>
          </li>
          <li>
              <a class="color2" (click)="onChangeColor('green')" routerLink="#"></a>
          </li>
          <li>
              <a class="color3"  (click)="onChangeColor('pink')" routerLink="#"></a>
          </li>
          <li>
              <a class="color4"  (click)="onChangeColor('cyan')"  routerLink="#"></a>
          </li>
          <li>
              <a class="color5"  (click)="onChangeColor('purple')"  routerLink="#"></a>
          </li>
          <li>
              <a class="color6"  (click)="onChangeColor('blue')"  routerLink="#"></a>
          </li> 
          <li>
              <a class="color7"  (click)="onChangeColor('orange')"  routerLink="#"></a>
          </li>
          <li>
              <a class="color8" (click)="onChangeColor('yellow')"   routerLink="#"></a>
          </li>                    
      </ul>
  </div>
  <div class="bottom">
      <a routerLink="#" class="settings" (click)="onChangeSwitch()"><i class="mdi mdi-settings mdi-spin"></i></a>
  </div>
</div>